p:first-of-type {
    color: #7E8184;
    font-style: italic;
}

p:last-of-type {
    margin-bottom: 50px;
}

.page {
    width: 600px;
    margin: 0 auto;
}

.synopsis {
    color: #7E8184;        /* Light gray */
    font-style: italic;
}

.synopsis em {
    font-style: normal;
}

.button:link,
.button:visited {
    display: block;
    text-decoration: none;

    color: #FFF;
    background-color: #5995DA;    /* Blue */
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border: 2px solid #5D6063;    /* Dark gray */
    border-radius: 5px;

    width: 200px;
    margin: 20px auto;
}
.button:hover,
.button:visited:hover {
    color: #FFF;
    background-color: #76AEED;  /* Light blue */
}
.button:active,
.button:visited:active {
    color: #FFF;
    background-color: #5995DA;  /* Blue */
}

.call-to-action {
    font-style: italic;
    background-color: #EEB75A;    /* Yellow */
}

a:link {
    color: blue;
    text-decoration: none;
}
a:visited {
    color: purple;
}
a:visited:hover {
    color: orange;
}
a:visited:active {
    color: red;
}
a:hover {
    color: aqua;
    text-decoration: underline;
}
a:active {
    color: red;
}

.call-to-action:link,
.call-to-action:visited {
    font-style: italic;
    background-color: #EEB75A;     /* Yellow */
}

.call-to-action:hover,
.call-to-action:visited:hover {
    background-color: #F5CF8E;     /* Light yellow */
}

.call-to-action:active,
.call-to-action:visited:active {
    background-color: #EEB75A;     /* Yellow */
}

.page > p:first-of-type {
    color: #7E8184;
    font-style: italic;
}

#button-2,
#button-3,
#checkout-button,
#menu-bar-call-to-action {
    color: #5D6063;
}

.call-to-action:link,
.call-to-action:visited {
    background-color: #D55C5F;    /* Red */
}

#button-2 {
    background-color: #D55C5F;    /* Red */
}
